<% include ../partials/common/adjuster-header%>
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <title>Box Content Preview UI Kit Demo</title>

    <!-- Include Promise library if using Internet Explorer 11 -->
    <script src="https://cdn01.boxcdn.net/js/vendor/bluebird/bluebird-core-some-any-cancel-settle-2.9.34.js"></script>

    <!-- Latest version of Box Content Preview for en-US locale -->
    <script src="https://cdn01.boxcdn.net/platform/preview/0.122.0/en-US/preview.js"></script>
    <link rel="stylesheet" href="https://cdn01.boxcdn.net/platform/preview/0.122.0/en-US/preview.css" />
</head>
<body>
    <div class="preview-container" style="height:100%; width:82%; margin-left:8%; margin-top:2%;"></div>
    <script>
        var accessToken = "<%= user.accessToken %>";
        var reportDocId = "<%= documentId %>";
        var preview = new Box.Preview();

        preview.show(reportDocId, {
          token: accessToken,
          container: '.preview-container',
          showAnnotations: true,
          showDownload: true,
          logoUrl: "http://i72.photobucket.com/albums/i162/carycheng77/rsz_screen_shot_2017-04-29_at_61514_pm_zpskbdkglj5.png"
        });
    </script>
</body>
</html>
