<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <title>Box Content Uploader</title>

    <!-- polyfill.io only loads the polyfills your browser needs -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Promise,Intl.~locale.en-US"></script>

    <!-- Latest version of the uploader css for your locale -->
    <link rel="stylesheet" href="https://cdn01.boxcdn.net/platform/file/0.23.0/en-US/uploader.css" />
</head>
<body>
    <div class="uploader-container" style="margin:8%0%0%3%;height:300px;width:533px"></div>
    <!-- Latest version of the uploader js for your locale -->
    <script src="https://cdn01.boxcdn.net/platform/file/0.23.0/en-US/uploader.js"></script>
    <script>
      	var folderId = "<%= vaultFolder %>";
      	var accessToken = "<%= user.accessToken %>";
      	var uploader = new Box.ContentUploader();
      	uploader.show(folderId, accessToken, {
            container: '.uploader-container',
        });
    </script>
</body>
</html>
