
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <% if(locals.title) { %>
    <title><%- title %></title>
  <% } else { %>
    <title>Claims Management</title>
  <% } %>

  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <!-- Box preview SDK -->
  <link rel="stylesheet" href="https://cdn01.boxcdn.net/platform/preview/1.13.0/en-US/preview.css">
  <script src="https://cdn01.boxcdn.net/platform/preview/1.13.0/en-US/preview.js"></script>
  <!-- foundation 6 style + js -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.4/foundation.min.css">
  <script src="https://cdn.jsdelivr.net/foundation/6.2.4/foundation.min.js"></script>
  <!-- Auth0 js -->
  <script src="https://cdn.auth0.com/js/auth0/8.3.0/auth0.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"></head>

  <!-- local css and js -->
  <link rel="stylesheet" href="/css/custom.css">
  <link rel="stylesheet" href="/icons/foundation-icons/foundation-icons.css">
  <script src="/js/GoogleAnalytics.js"></script>
  <link rel="stylesheet" href="/css/page_loader.css">
</head>
<body>
  <!-- <div style="padding-top: 15px;padding-bottom: 15px; padding-left:83%; font-size:14px" class="poppins-font">
    <a href=#><img src="../img/logout.png"></a>
    <%= user.displayName %>
  </div> -->
  <!-- Start Top Bar -->
  <nav class="top-bar topbar-responsive">
    <div class="top-bar-title" style="padding-top:15px; padding-left:8%">
      <div id="dd" class="wrapper-dropdown-5 poppins-font" tabindex="1" style="color:#2B9DE8;font-size:15px;">Claims Agent Portal
    <ul class="dropdown">
        <li><a href="/adjuster"><i class="icon-user poppins-font"></i><div id="avatar"></div>Field Adjuster Portal</a></li>
    </ul>
</div>
    </div>
    <div id="topbar-responsive" class="topbar-responsive-links" style="padding-top:20px;">
      <div class="top-bar-right">
        <ul class="menu simple vertical medium-horizontal">
          <li><a  class="lato-font" style="color:#2B9DE8" href="/dashboard">Home</a></li>
          <li><a  class="lato-font" style="color:#2B9DE8" href="#">Contacts</a></li>
          <li><a  class="lato-font" style="color:#2B9DE8" href="#">Companies</a></li>
          <li><a  class="lato-font" style="color:#2B9DE8" href="#">Policies</a></li>
          <li><a  class="lato-font" style="color:#2B9DE8" href="#">Activities</a></li>
          <li><a  class="lato-font" style="color:#2B9DE8" href="#">Calendar</a></li>
          <li><a  class="lato-font" style="color:#2B9DE8" href="#">Reports</a></li>
          <li>
            <a  href="/logout" style="color:#2B9DE8" type="button" class="lato-font">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="loader" style="display:none" class="loading">Loading...</div>
  <!-- End Top Bar -->

  <style>
  *, *:after, *:before {
    box-sizing: border-box;
  }


  .wrapper-dropdown-5 {
    /* Size & position */
    background-color: #FBFBFB;
    border-color: #FBFBFB;
    position: relative;
    width: 200px;
    padding: 10px 15px;
    /* Styles */
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  .wrapper-dropdown-5:after {
    /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    color: #fff;
    right: 15px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #4cbeff transparent;
  }

  .wrapper-dropdown-5 .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    /* Styles */
    background: #fff;
    border-radius: 0 0 5px 5px;
    border-color: #fff
    border-top: none;
    border-bottom: none;
    list-style: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    /* Hiding */
    max-height: 0;
    overflow: hidden;
  }

  .wrapper-dropdown-5 .dropdown li {
    padding: 0 10px;
  }

  .wrapper-dropdown-5 .dropdown li a {
    display: block;
    text-decoration: none;
    color: #F96F67;
    padding: 10px 0;
    transition: all 0.3s ease-out;
  }

  .wrapper-dropdown-5 .dropdown li:last-of-type a {
    border: none;
  }

  .wrapper-dropdown-5 .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
  }

  /* Hover state */
  .wrapper-dropdown-5 .dropdown li:hover a {
    color: #57a9d9;
  }

  /* Active state */
  .wrapper-dropdown-5.active {
    border-radius: 5px 5px 0 0;
    background: #fff;
    box-shadow: none;
    border-bottom: none;
    color: white;
  }

  .wrapper-dropdown-5.active:after {
    border-color: #82d1ff transparent;
  }

  .wrapper-dropdown-5.active .dropdown {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    max-height: 400px;
  }


  .poppins-font{
    font-family: 'Poppins', sans-serif;
  }

  .lato-font{
    font-family: 'Lato', sans-serif;
  }

  .topbar-responsive {
    background: #fbfbfb;
    padding: 1rem 1.5rem;
  }

  .topbar-responsive .topbar-responsive-logo {
    color: #fbfbfb;
    vertical-align: middle;
  }

  .topbar-responsive .menu {
    background: #fbfbfb;
  }

  .topbar-responsive .menu li:last-of-type {
    margin-right: 0;
  }

  .topbar-responsive .menu a {
    color: #fbfbfb;
    transition: color 0.15s ease-in;
  }

  .topbar-responsive .menu a:hover {
    color: #c6d1d8;
  }

  @media screen and (max-width: 39.9375em) {
    .topbar-responsive .menu a {
      padding: 0.875rem 0;
    }
  }

  .topbar-responsive .menu .topbar-responsive-button {
    color: #fefefe;
    border-color: #2B9DE8;
    border-radius: 5000px;
    transition: color 0.15s ease-in, border-color 0.15s ease-in;
  }

  .topbar-responsive .menu .topbar-responsive-button:hover {
    color: #c6d1d8;
    border-color: #c6d1d8;
  }

  @media screen and (max-width: 39.9375em) {
    .topbar-responsive .menu .topbar-responsive-button {
      width: 100%;
      margin: 0.875rem 0;
    }
  }

  @media screen and (max-width: 39.9375em) {
    .topbar-responsive {
      padding: 0.75rem;
    }
    .topbar-responsive .top-bar-title {
      position: relative;
      width: 100%;
    }
    .topbar-responsive .top-bar-title span {
      position: absolute;
      right: 0;
      border: 1px solid #fefefe;
      border-radius: 5px;
      padding: 0.25rem 0.45rem;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
    }
    .topbar-responsive .top-bar-title span .menu-icon {
      margin-bottom: 4px;
    }
  }

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @-webkit-keyframes slideDown {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
    }
  }

  @keyframes slideDown {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
    }
  }

  @media screen and (max-width: 39.9375em) {
    .topbar-responsive-links {
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both;
      -webkit-animation-duration: 0.5s;
              animation-duration: 0.5s;
      width: 100%;
      -webkit-animation: fadeIn 1s ease-in;
              animation: fadeIn 1s ease-in;
    }
  }

  #avatar {
      /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
      background-image: url('http://storage.canalblog.com/06/75/157602/6590948_p.jpg');

      /* make a square container */
      width: 20px;
      height: 20px;
      float: left;
      /* fill the container, preserving aspect ratio, and cropping to fit */
      background-size: cover;

      /* center the image vertically and horizontally */
      background-position: center;

      /* round the edges to a circle with border radius 1/2 container size */
      border-radius: 50%;
  }
  </style>
  <script>

  		function DropDown(el) {
				this.dd = el;
				this.initEvents();
			}
			DropDown.prototype = {
				initEvents : function() {
					var obj = this;

					obj.dd.on('click', function(event){
						$(this).toggleClass('active');
						event.stopPropagation();
					});
				}
			}

			$(function() {

				var dd = new DropDown( $('#dd') );

				$(document).click(function() {
					// all dropdowns
					$('.wrapper-dropdown-5').removeClass('active');
				});

			});


  </script>
