<footer>
  <div class="row column">
    <hr>
    <div class="row">
      <div class="medium-6 column">
        <ul class="menu">
          <li style="font-size:10px">From DE Team with <3</li>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="medium-6 column">
      </div>
    </div>
  </div>
</footer>

<% include dashboardTab %>

</body>
</html>
